.container-my-card {
  padding: 0.5rem;
  position: relative;
  height: 100%;
}
.start-shopping-logo {
  background: var(--color-primary-ligth);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  border: 1px solid var(--color-primary);
  border-radius: 7px;
}
.start-shopping-logo span {
  padding: 0.5rem;
  border-radius: 15%;
  cursor: pointer;
  color: var(--color-primary);
}
.start-shopping-logo  h3{
    color: var(--color-dark-ligth);
    font-weight: 600;
}

.order-menu{
    width: 100%;
    display: flex;
    flex-direction: column;    
    margin-top: 25px;
}

.order-menu .title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-menu .title h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark);
}

.order-menu .title span{
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s ease;
}
.order-menu .title span i{
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    padding: 1px;
    border-radius: 5px;
    transition: .1s ease;
}
.order-menu .title span:hover i{
    box-shadow: 0px 0px 10px 7px var(--color-primary-extra-light);
    transform: translate(5px);
}

.show-orders{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 25px;
    padding: .6rem;
    max-height: 650px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.show-orders::-webkit-scrollbar {
    -webkit-appearance: none;
}
.show-orders::-webkit-scrollbar:vertical {
    width:7px;
}
.show-orders::-webkit-scrollbar-button:increment,.show-orders::-webkit-scrollbar-button {
    display: none;
} 
.show-orders::-webkit-scrollbar:horizontal {
    height: 10px;
}
.show-orders::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-extra-light);
    border-radius: 20px;
}
.show-orders::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.container-checkout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    position: absolute;
    bottom: 0px;
 }
 .btn{
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
 }
 .btn-warning-round{
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: .6rem;
    width: 75%;
    border-radius: 70px;
    transition: .3s ease;
  }
  .btn-warning-round:hover{
    box-shadow: 5px 5px 14px 9px var(--color-primary-ligth);
    color: var(--color-dark);
  }