aside {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.9rem;
  gap: 10px;
  height: 65px;
}

.logo-app {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}
.logo-app span {
  background: var(--color-dark-ligth);
  padding: 0.3rem;
  color: var(--color-primary);
  border-radius: 50%;
}
.search-sm {
  width: 50%;
}
.search-xs {
  display: none;
}
.items {
  display: flex; 
  gap: 15px;
}
.space-clear {
  width: 20px;
}
aside span.icon-menu {
  padding: 0.5rem;
  border-radius: 15%;
  cursor: pointer;
}

aside span.icon-menu:hover {
  box-shadow: 0px 0px 11px 7px var(--color-primary-ligth);
}

.address-container {
  display: flex;
  gap: 7px;
  flex-direction: row;
  align-items: center;
}
.address-container h5 {
  color: var(--color-dark-ligth);
}
main {
  width: calc(100% - 20%);
  padding: 1.5rem;
  margin-top: 25px;
}

.movimientos-container {
  background: var(--color-white);
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  padding: 0.9rem;
}

#btn-menu,
#btn-shopping {
  display: none;
}
#btn-address {
  cursor: pointer;
  color: var(--color-primary);
  padding: 0.3rem;
}
#btn-user{
  color: var(--color-dark);
}
footer{
  display: none;
}

/* ================================================================================================= */

/* PARA DISPOSITIVOS EXTRA PEQUEÑOS */
@media only screen and (max-width: 600px) {
  aside {
    position: fixed;
    margin-top: 0;
    width: 100%;
    background: var(--color-primary);
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
      0 6px 20px 0 rgba(0, 0, 0, 0.02);
    padding: 0.7rem;
    z-index: 1000000000;
  }

  .space-clear {
    width: 0px;
  }

  .alert-icon,
  .search-sm {
    display: none;
  }
  .search-xs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .input-group {
    width: 80%;
  }

  .icon-search {
    right: 1000px;
  }
  .shopping-container {
    display: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 70px;
  }
  .movimientos-container {
    display: none;
  }
  .address-container{
    display: none;
  }
  #btn-menu{
    --display: block;
    color: var(--color-darck);
    --position: absolute;
    --right: 14px;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: var(--color-primary);
    z-index: 1000000;
  }
  footer #btn-shopping{
    background: var(--color-primary);
    color: var(--color-dark);
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: .4rem;
    border-radius: 50%;
    z-index: 1000000;
  }
  footer span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    --background: var(--color-white);
    color: var(--color-dark-ligth);
    border-radius: 50%;
    font-size: 25px;
  }
}

/* PARA DISPOSITIVOS PEQUEÑOS */
@media only screen and (min-width: 600px) {
  aside{
    width: 100%;
    margin: 10px 0px;
  }
  main{
    width: 100%;
  }
  .movimientos-container{
    display: none;
  }
  .items{
    display: flex;
    justify-content: space-between;
  }
  #btn-alert{
    display: block;
  }
 
  #btn-menu{
    display: block;
    color: var(--color-darck);
    --position: absolute;
    --right: 14px;
  }
}

/* PARA DISPOSITIVOS MEDIANOS */
@media only screen and (max-width: 768px) {
  aside{
    width: 100%;
    --margin: 10px 0px;
  }
  main{
    width: 100%;
  }
  .movimientos-container{
    display: none;
  }
 
  #btn-menu{
    display: block;
  }
}


/* PARA DISPOSITIVOS GRANDES */
@media only screen and (min-width: 992px) {
  
}

/* PARA DISPOSITIVOS EXTRA GRANDES */
@media only screen and (min-width: 1200px) {
  aside{
    width: 80%;
  }
  main{
    width: 80%;
  }
  .movimientos-container{
    display: block;
    width: 20%;
  }
  #btn-menu{
    display: none;
  }
 
}
